<ul class="home">
 <li><%= link_to "Merchants", merchants_path %> (<%= Merchant.all.count %>)</li>
 <li><%= link_to "Brands", brands_path %> (<%= Brand.all.count %>)</li>
 <li><%= link_to "Subscribers", subscribers_path %> (<%= Subscriber.all.count %>)</li>
 <li><%= link_to "SmsRequests", twiml_sms_requests_path %> (<%= TwimlSmsRequest.all.count %>)</li>
 <li><%= link_to "Twilio Log", "https://www.twilio.com/user/account/log/sms" %></li>
 <li><%= link_to "Admin Data", "/admin_data/quick_search/brand" %></li>
</ul