<%= will_paginate @brands %>

<ul class="brands">
  <table class="brands" summary="Brands">
    <tr>
	<th><%= link_to "Brand", brands_path(@sort_args[:brand]) %></th>
	<th>Merchant</th>
	<th>Aliases</th>
	<th><%= link_to "Created At", brands_path(@sort_args[:created_at]) %></th>
	<th><%= link_to "Subscribers", brands_path(@sort_args[:subscriber]) %></th>
	<th>Flags</th>
    <%= render @brands %>
  </table>
</ul>

<%= will_paginate @brands %>